
* {background: black;}

@font-face {
    font-family: "Hitchcock";
    src: url("/Users/stuut/Downloads/Hitchcock Regular");
  }
  
  .menu-bar {
    background-color: none;
    display: flex;
    height: 20px;
    font-size: 10px;
    text-align: center;
    font-family: helvetica;
    flex-direction: column;
    position: fixed;
    margin-left: 1220px;
    margin-top: 85px;
  }

  .menu-hand {
    position: fixed;
    background-color: none;
    margin-left: 1320px;
    margin-top: 60px;
    z-index: 900;
  }
  
  .menu-bar a {
    border: 2px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    position: relative;
    margin: 10px 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: none;
  }
  
  .menu-bar a:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }

  .title-home {
    position: fixed;
    align-items: center;
    top: 35%;
    left: 35%;
    transform: translate(-20%, -20%);
    position: center;
    background-color: none;
  }
/*
  .content {
    color: white;
    position: fixed;
    background-color: none;
    font-size: 16px;
    font-family: helvetica;
    font-weight: lighter;
    text-align: center;
    top: 300px;
    border: 1px solid none;
    padding: 20px;
    left: 400px;
    
  }*/

  .content {
    position: fixed;
    top: 51%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: none;
  }
  
  /*.image-container {
    position: fixed;
    bottom: 100px;
    left: 0;
    width: 200%;
    height: 20%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: none;
    padding: 10px;
    box-sizing: border-box;
  }
  
  img {
    height: 200%;
    margin-right: 10px;
  }
  */
      
   
  .image-container {
    position: fixed;
    bottom: -50px;
    left: 0;
    width: 150%;
    height: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: black;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
  
  .image-container::-webkit-scrollbar {
    height: 10px;
  }
  
  .image-container::-webkit-scrollbar-track {
    background: black;
  }
  
  .image-container::-webkit-scrollbar-thumb {
    background: white;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-3600px);
    }
  }

.image-container img {
  animation: scroll 120s linear infinite;
}

  img {
    display: inline-block;
    height: 70%;
    width: 10%;
    scroll-snap-align: center;
  }

 

  .oval {
    position:fixed;
    width: 150%;
    left: -20%;
    height: 100px;
    background-color: black;
    border-radius: 70%; 
    top: 450px;
    position: fixed;
  }

  .oval2 {
    position:fixed;
    width: 150%;
    left: -20%;
    height: 100px;
    background-color: black;
    border-radius: 70%; 
    top: 700px;
    position: fixed;
  }
  
  